/**{
	background-color: #ddd;
}*/

header{
	position: relative;
	height: 6rem;
	width: 6rem;
	overflow: hidden;
}

header div.title{
	position: absolute;
    bottom: .35rem;
    left: .2rem;
	z-index: 10;
}

header div.mask{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	background:-webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.4));
}

header div.banner{
	position: absolute;
	left: 0;
	top: 0;
	width: 6rem;
	height: 6rem;
}

header img{
	position: absolute;
}

header .title{
	color: #fff;
	font-family: helvetica;
	font-weight:  bold;
	font-size: 28px;
	margin-bottom: 5px;
}

header .subtitle{
	color: #fff;
	font-family: helvetica;
	font-weight: bold;
	font-size: 17px;
}

#shotsDiv{
	position: relative;

}

#shotsDiv div{
	box-sizing: border-box;
	position: absolute;
	margin: 5px;
	overflow: hidden;
}

#shotsDiv img{
	position: absolute;
	width: 100%;
	height: 100%;
}

#shotsDiv .text-shot p{
	line-height: 1rem;
}

.text-shot .header{
	font-size: 22px;
	font-family: Helvetica;
}

.text-shot .quote{
	font-size: 28px;
	font-family: AvenirNextCondensed-UltraLightItalic;
}

.text-shot .normal{
	font-size: 16px;
	font-family: Baskerville;
}

#shotsDiv div:last-child{
	margin-bottom: 60px;
}

.loadApp {
 	position: fixed;
 	bottom: 0;
 	height: 60px;
 	width: 100%;
 	background-color: rgba(0,0,0,0.8);
 	color: #fff;
}

.description {
	display: inline-block;
	position: absolute;
	top: 20px;
	left: 10px;
	width: 250px;
	font-size: 16px;
}

.description .app-name{
	font-size: 20px;
	color: #00CCCC;
}

.loadBtn {
	display: inline-block;
	position: absolute;
	top:16px;
	right: 20px;
	height: 20px;
}

.loadBtn div {
	background-color: #ff2d55;
	width: 1.3;
	text-align: center;
	font-size: 20px;
	padding: 5px;
	border-radius: .03rem;
}
